
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-user me-1"></i> Lista De Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="OpenModal(null)">Crear Nuevo</button>
            </div>
        </div>
        <hr />

        <table id="table" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                <input type="text" id="txtID" value="0" />

                <div class="row g-2">

                    <div class="col-sm-6">
                        <label for="txtNames" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="txtNames" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtSurnames" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtSurnames" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtEmail" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="txtEmail" placeholder="name@example.com" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboActive" class="form-label">Activo</label>
                        <select id="cboActive" class="form-select">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div  id="menssageError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        var tabladata;
        var RowSelected;

        tabladata = $("#table").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListUseers", "Home")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "NameUser" },
                { "data": "SurnameUser" },
                { "data": "Mail" },
                {
                    "data": "Active", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge text-bg-success">Si</span>'
                        } else {
                            return '<span class="badge text-bg-danger">No</span>'
                        }

                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen me-1"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2"><i class="fas fa-trash me-1"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"

                }


            ],
            "language": {  /*cambiamos el lenguaje con las propiedades*/
                "url": "https://cdn.datatables.net/plug-ins/2.0.8/i18n/es-AR.json"
            }

        });

        function OpenModal(json) {

            $("#txtID").val(0)
            $("#txtNames").val("") //Me va a limpiar los valores 1ro
            $("#txtSurnames").val("")
            $("#txtEmail").val("")
            $("#cboActive").val(1);

            $("#menssageError").hide();


            if (json != null) {
                $("#txtID").val(json.ID_User)
                $("#txtNames").val(json.NameUser)
                $("#txtSurnames").val(json.SurnameUser)
                $("#txtEmail").val(json.Mail)
                $("#cboActive").val(json.Active == true ? 1 : 0);
            }
            $("#FormModal").modal("show");
        }

        $("#table tbody").on("click", '.btn-editar', function () {

            RowSelected = $(this).closest("tr");
            var data = tabladata.row(RowSelected).data();
            console.log(data)

            OpenModal(data)
        })


        function Save() {

            var User = { //Creamos nuestro objeto usuario

                ID_User: $("#txtID").val(),
                NameUser: $("#txtNames").val(),
                SurnameUser: $("#txtSurnames").val(),
                Mail: $("#txtEmail").val(),
                Active: $("#cboActive").val() == 1 ? true : false,

            }

            jQuery.ajax({
                url: '@Url.Action("SaveUseers", "Home")', //Metodo que va a ejecutar y desde donde
                type: "POST",
                data: JSON.stringify({ objeto: User }), //Convierte a texto
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {              //Data: representa = { resultado = result, menssaje }
                    debugger;
                    //Usuario Nuevo
                    if (User.ID_User == 0) {

                        if (data.result != 0) {

                            User.ID_User = data.result;
                            tabladata.row.add(User).draw(false);
                            $("#FormModal").modal("hide");
                        }
                        else {
                            $("#menssageError").text(data.menssaje);
                            $("#menssageError").show();
                        }


                    }
                    //Editar Usuario
                    else {
                        if (data.result) {

                            tabladata.row(RowSelected).data(User).draw(false);
                            RowSelected = null;
                            $("#FormModal").modal("hide");
                        }
                        else {
                            $("#menssageError").text(data.menssaje);
                            $("#menssageError").show();
                        }


                    }

                },
                error: function (error) {

                },
                beforeSend: function () {

                }
            });



        }


    </script>


}